/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10px;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-basic;
  background-color: $bg-color-basic;
}
