//блок программы
.programs__list {
  list-style: none;
}

.programs__item {
  background-color: $bg-color-secondary;
}

.programs__title {
  line-height: 37px;
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $text-color-basic;
}
