// блок пример
.story__term {
  font-size: 24px;
  line-height: 24px;
}

.story__definition {
  font-size: 12px;
  line-height: 12px;
}

.story__summury {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
