//блок заголовок
.title {
  @include title(24px);
}

.title--big {
  font-size: 36px;
  line-height: 40px;
}

.title--uppercase {
  text-transform: uppercase;
}

.title--contrast {
  color: $text-color-contrast;
}
